@charset "UTF-8";

/* CSS Document */

.ptxt {
    margin: 0 auto;
}

.atagbutton {
    text-align: center;
    line-height: 100%;
}

h3 {
    text-align: center;
}

.button-text {
    margin-top: 20px;
}

.sch {
    display: none;
    position: relative;
    background-color: rgb(236, 240, 241);
    width: 60%;
    margin: 0 auto;
    border: 3px solid;
    padding: 2% 0px 5% 0px;
}
#mon {
	display: block;
}
td {
	position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
	position: relative;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    border: none;
    height: auto;
    padding-top: 0px;
    margin-left: 1.6%;
    float: left;
    width: 18%;
}

#data {
    padding-top: 70px;
    clear: left;
}

#info {
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    background-color: #B0BEC5;
}

table {
    margin: 0 auto;
}

#fri p {
    margin: 5px;
}

@media (min-width: 310px) and (max-width: 500px) {
    .sch {
        width: 80%;
    }
}

@media (max-width: 309px) {
    .sch {
        width: 95%;
    }
}
@media (max-width: 699px) {
    .sch {
        padding: 8% 0px 8% 0px;
        font-size: 1.2em;
    }
}
@media (min-width: 700px) {
    .sch {
        padding: 8% 0px 8% 0px;
        font-size: 1.5em;
    }
}
tr:nth-child(odd) {
	background-color:#95a5a6;
}
